{
  "GOOGLE_MAPS_KEY": "$GOOGLE_MAPS_KEY",
  "SPLIT_IO_KEY": "$SPLIT_IO_KEY",
  "PENDO_API_KEY": "$PENDO_API_KEY",
  "DISABLE_PENDO": "$DISABLE_PENDO",
  "CAPTIVE_PORTAL_DOMAIN_NAME": "$CAPTIVE_PORTAL_DOMAIN_NAME",
  "CHANGE_PASSWORD": "$CHANGE_PASSWORD",
  "MANAGE_LICENSES": "$MANAGE_LICENSES",
  "FETCHBOT_JS_URL": "$FETCHBOT_JS_URL",
  "DOCUMENTATION_CENTER": "$DOCUMENTATION_CENTER",
  "MY_OPEN_CASES": "$MY_OPEN_CASES",
  "PRIVACY": "$PRIVACY",
  "SUPPORTED_AP_MODELS": "$SUPPORTED_AP_MODELS",
  "HOW_TO_VIDEOS": "$HOW_TO_VIDEOS",
  "NEW_API_DOMAIN_NAME": "$NEW_API_DOMAIN_NAME",
  "STATIC_ASSETS": "$STATIC_ASSETS",
  "API_DOCUMENTATION_URL": "$API_DOCUMENTATION_URL"
}
