apiVersion: v1
kind: ConfigMap
metadata:
  name: values-rsa-ui-fragments
data:
  values.yaml: |
    service:
      command:
      - sleep
      - "99999999999"
      resources:
        limits:
          cpu: 10m
          memory: 10Mi
        requests:
          cpu: 10m
          memory: 10Mi
      sidecarContainers:
        ui-fragments:
          image:
            docker_sha: us.gcr.io/ruckussgdc-rsa-builder/rsa-ui-fragments:6ceaad8
          command:
          - bin/start-mlisa-container.sh
          ports:
          - name: ui
            containerPort: 5100
          configmapEnvs:
          - mlisa-core-rsa-ui-fragments-config
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 500Mi
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /rsa-ui-reports
              port: 5100
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /rsa-ui-reports
              port: 5100
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5

    replicaCount: 1

    nodeSelector:
      application: core
