apiVersion: v1
kind: ConfigMap
metadata:
  name: values-acx-ui
data:
  values.yaml: |
    service:
      ports:
      - name: acxui
        containerPort: 8080
      configmapEnvs:
      - mlisa-core-rsa-mlisa-ui-config
      secretEnvs:
      - mlisa-core-rsa-mlisa-ui-secret
      resources:
        limits:
          cpu: "1"
          memory: 1Gi
        requests:
          cpu: 100m
          memory: 100Mi
      livenessProbe:
        failureThreshold: 1
        httpGet:
          path: /health
          port: 8080
          scheme: HTTP
        initialDelaySeconds: 15
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 10
      readinessProbe:
        failureThreshold: 1
        httpGet:
          path: /health
          port: 8080
          scheme: HTTP
        initialDelaySeconds: 5
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 5

      sidecarContainers:
        rsa-mlisa-ui:
          image:
            docker_sha: us.gcr.io/ruckussgdc-rsa-builder/rsa-mlisa-ui:4faf942
          configmapEnvs:
          - mlisa-core-rsa-mlisa-ui-config
          secretEnvs:
          - mlisa-core-rsa-mlisa-ui-secret
          ports:
          - name: ui
            containerPort: 5004
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 500Mi
          readinessProbe:
            failureThreshold: 1
            httpGet:
              path: /dashboard
              port: 5004
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          livenessProbe:
            exec:
              command:
              - am-i-ok.sh
            failureThreshold: 1
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10

    externalSecrets:
    - secretName: mlisa-core-rsa-mlisa-ui-secret
      refreshInterval: 5m
      data:
      - secretKey: SPLIT_IO_KEY
        remoteKey: SPLIT_IO_CLIENT_KEY

    replicaCount: 1

    nodeSelector:
      application: core
